*
    margin: 0
    padding: 0

html, body 
    height: 100vh
    background: #00050a

body.preload
    transition: none !important

h1 
    font-family: Michroma, Helvetica, sans-serif

.horizontal-div 
    background-image: url('./grid-02.png')
    background-repeat: repeat
    top: 0px
    left: 0px
    height: 100vh
    width: 10000px
    display: flex

[data-scroll-section] *
    white-space: normal

.boxed 
    padding: 1rem
    border: 3px solid #fff
    cursor: default
    background: rgba(255,255,255,0)
    color: #fff
    transition: background 0.4s ease-in-out, color 0.5s ease-in-out
    &.bold 
        border-width: 4px
    &:hover 
        background: rgba(255,255,255,1)
        color: #000

.container.cycles
    .title
        font-size: 20pt
        position: absolute
        line-height: 1em
        top: 40vh
        left: 25vw
        transform: translate(-50%, -50%)
        overflow: hidden
    // Letter-by-letter animation
    .let 
        display: inline-block
        transform: translateY(150%)
        .inner 
            display: inline-block
            transition: transform 0.4s ease-in-out
    .title.is-inview .let .inner 
        transform: translateY(-150%)
    .let:nth-child(1) .inner
        transition-delay: 0.5s 
    .let:nth-child(2) .inner
        transition-delay: 0.6s 
    .let:nth-child(3) .inner
        transition-delay: 0.7s 
    .let:nth-child(4) .inner
        transition-delay: 0.8s 
    .let:nth-child(5) .inner
        transition-delay: 0.9s 
    .let:nth-child(6) .inner
        transition-delay: 1.0s 
    @keyframes spin 
        0% 
          transform: rotate(0deg) 
        100%
          transform: rotate(360deg) 
    .clip-rect 
        position: absolute
        left: 50vw
        top: 0
        overflow: hidden
        width: 100vw
        height: 100vh
        background: rgba(15, 15, 15, 0.85)
        img 
            opacity: 52.7%
            position: absolute
            left: 25vw
            top: 50vh
            margin-top: -65vh
            margin-left: -65vw
            width: 130vw
            height: 130vh
            animation: spin 120s linear infinite
    .intro 
        position: absolute
        top: 55vh
        width: 30vw
        left: 25vw
        transform: translate(-50%)
    .corner 
        position: absolute
        font-family: Michroma, Helvetica, sans-serif
        color: #fff
        font-size: 0.8rem
        letter-spacing: 1px
        &.left 
            left: 1rem    
        &.right 
            right: 1rem
        &.top 
            top: 1rem
        &.bottom 
            bottom: 1rem

.slide2 > .text-wrapper 
    width: 40vw
    position: relative

.container.ball 
    width: 30vw
    margin-left: -60vw

.container.fear 
    width: 70vw
    background-color: rgba(180,0,0,0.9)
    padding: 3em
    margin-left: 30vw
    h1.blend 
        font-size: 6em
        color: rgb(114, 0, 0)
        margin: 0
    .para 
        font-family: monospace
        margin: 2em 0
        max-width: 40em

.fight-or-flee 
    font-family: Michroma, Helvetica, sans-serif
    margin-bottom: 0px
    margin-top: 5px
    text-align: left
    font-size: 130px
    line-height: 110px
    color: rgba(184, 54, 54, 0.527)
    text-transform: uppercase

.blend 
    mix-blend-mode: difference

.text-wrapper.center 
    bottom:40vh

.text-wrapper.topLeft 
    left: 10vw
    top: 10vh
    max-width: 400px
    bottom: auto

.text-wrapper.topLeft2 
    left: 10vw
    top: 25vh
    max-width: 400px
    bottom: auto

.text-wrapper.bottomRight 
    left: auto
    top: auto
    bottom: 10vh
    right: 10vw
    max-width: 400px

.flex 
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: space-between
    position: absolute
    top: 10%

.dark-panel 
    width: 30vw
    height: 100vh
    background-color: rgb(0, 0, 0)
    padding: 30px

img 
    display: block
    margin: 20px
    box-shadow: 5px 4px 40px 0px rgba(0,0,0,0.26)
    -webkit-box-shadow: 5px 4px 40px 0px rgba(0,0,0,0.26)
    -moz-box-shadow: 5px 4px 40px 0px rgba(0,0,0,0.13)

h4 
    font-size: 60px
    color: rgb(207, 207, 207)

h5 
    font-size: 30px
    font-family: helvetica
    color: rgb(207, 207, 207)

h6.light 
    font-size: 12px
    font-family: Arial, Helvetica, sans-serif
    color: rgb(255, 255, 255)

p 
    font-size: 13px
    font-family: monospace
    font-weight:400
    line-height: 1.4em

div 
    box-sizing: border-box

.column 
    width: 35vw
    position: absolute
    right: 10vw
    top: 50vh

.text-wrapper 
    position: absolute
    padding: 10px
    padding-left: 20px
    padding-right: 20px
    box-sizing: border-box
    left: 30vw
    right: 30vw
    bottom: 10vh
    background-color: ghostwhite
    border: #0e0808, 1px
    box-shadow: 5px 5px
    &.long 
        width: 100vw
        box-sizing: border-box
        position: absolute
        left: 0px

.section 
    width: 100vw
    position: relative

p.light 
    color: rgb(175, 175, 175)
    font-family: monospace
    font-weight: 200

.header-wrapper 
    position: relative
    padding-top: 20px

.container 
    width: 100vw
    height: 100vh
    position: relative
    outline: 0px solid #0f0

.scrolluptext 
    opacity: 100%
    z-index: 100
    position: absolute
    top: 50vh
    left: 85vw
    opacity: 0%

.webgl 
    position: absolute
    top: 0
    left: 0
    outline: none
    mix-blend-mode: difference
